img {
    height: 250px;
    width: 300px;
    margin-top: 10px;
    margin-left: 20px;
    padding: 10px;
    
}

p {
    margin-top: 25px;
    margin-left: 25px;
}

#last {
    color: blue;
    font-family: cursive;
    text-align: right;
    font-size: 10px;
}

#intro {

    font-size: 50px;
    font-family: Verdana;
}

.movie {

    font-size: 30px;
}